* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    height: 140vh;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    align-items: center;
    position: relative;
}

header figure {
    height: 5vh;
    width: 5vw;
}

header nav ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    font-size: 3rem;
    font-weight: bold;
    list-style: none;
}

header nav ul li {
    margin: 15px;
}

header button {
    position: absolute;
    display: flex;
    height: 3vh;
    width: 96px;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 20px;
    
}

header button:nth-child(3) {
    background-color: white;
    right: 116px;
}

header button:nth-child(4) {
    background-color: black;
    color: white;
    right: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 110vh;
}

main article {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    text-justify: center;
    margin: 20px;
    border: black solid 3px;
    justify-content: space-around;
    align-items: center;
}

main article h2 {
    font-size: 6rem;
    color: white;
}

main article p, main article p a {
    font-size: 2.5rem;
    color: white;
}


main article:first-child {
    background-color: darkgreen;
    grid-template-areas: "unodos";
}

main article:first-child h2 {
    grid-area: unodos;
}

main article:nth-child(2), main article:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "uno dos";
    background-color: red;
}

main article:nth-child(2) figure, 
main article:nth-child(3) figure {
    width: 90%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main article:nth-child(2) figure {
    background-image: url(/Resourses/alebrije1.jpg);
}

main article:nth-child(3) figure {
    background-image: url(/Resourses/alebrije2.jpg);
}

button {
    width: 100px;
    height: 40px;
    background-color: red;
    border-radius: 50px;
    border: white 1px solid;
}

.uno {
    grid-area: uno;
}

.dos {
    grid-area: dos;
}

footer {
    height: 11vh;
}